<style>
	h1{
		text-align: center;
	}
	.para{
		padding: 0px 100px ;
	}
</style>

<h1>Bike Berlin</h1>
<p class="para col-md">BikeExchange is the number one Australian marketplace of new and used bikes for sale online! Our various filters are there to help assist you to easily refine your search.</p>

	<p class="para">Today’s marketplace for bicycles is characterised by its ability to satisfy wide ranging demands. Informed consumers know exactly what they want, with companies continually forced to innovate with unique concepts to meet these specific ride demands. The following categories comprise our most popular specialist types of bicycles available here on Bike Berlin.
</p>


