<h1 class="head">Welcome to Bike Berlin</h1>
<h2 class="head">Your source for used bikes in Berlin</h2>
<p class="head">Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("bike.jpg", class: "img-responsive mx-auto d-block rounded-circle")%>