
 <div class="col-sm-4">
      <%= image_tag(product.image_url, class: "img-fluid") %>
      <a href="#"><%= product.name %>Bike</a>
     <!--/ <img src= "<%= product.image_url %>" width="260px" height="160px">-->
      <p><%= product.description %></p>
      <strong>$ 42</strong>
    </div><!--/col -->